html {
	font-family: pixelfont;
	font-size: 20px;
}

.text {
  font-size: 2rem;
  line-height: 1.5;
  color: #FF0000;
}


.health {
	border: 1px solid black;
	width: 150px;
	height: 5px;
	margin: 0;
	padding: 0;
}

.healthbar {
	background: bisque;
	height: 100%;
	width: 0%;
	transition: 1s width;
}

.pokemonview {
	font-size: 12px;
	height: 100px;
	width: 300px;
}

.pokemonview.myself .status {
	margin-left: 150px;
}

.pokemonview img {
	width: 100px;
	height: 100px;
	float: left;
}

.pokemonview.opponent img {
	float: right;
}

.pokemonview.blink img {
	animation: 0.2s blink infinite alternate;
}

.pokemonview.shake img {
	animation: 1s shake;
	animation-iteration-count: 1;
}

@keyframes blink {
  from {
		opacity: 0;
  }

  to {
		opacity: 1;
  }
}

@keyframes shake {
  16% {
		transform: translateX(-10%);
  }

  33% {
		transform: translateX(0%);
  }

  48% {
		transform: translateX(10%);
  }

  64% {
		transform: translateX(0%);
  }

  80% {
		transform: translateX(-10%);
  }

}
@font-face {font-family:"pixelfont";src:url("Pokemon GB.ttf") format("truetype");font-style:normal;}
