html {
	font-family: pixelfont;
	font-size: 20px;
}

.text {
  font-size: 2rem;
  -height: 1.5;
  color: #FF0000;
}

.gameView {
	background: #f8f8f8;
	border: 1px solid #66667e;
	width: 160px;
}


.health {
	border: 1px solid black;
	width: 48px;
	height: 2px;
	margin: 0;
	padding: 0;
	margin-left: 19px;
	margin-top: 6px;
}

.healthbar {
	height: 100%;
	width: 0%;
	transition: 1s width linear;
}

.battleView {
	width: 160px;
	height: 97px;
	overflow: hidden;
}

.pokemonview {
	font-size: 9px;
	height: 48px;
	width: 160px;
	overflow: hidden;
	position: relative;
}

.pokemonview .status {
	width: 77px;
	height: 33px;
	background: url(../../images/bg1.png);
	position: absolute;
	top: 0px;
	left: 11px;
	background-repeat: no-repeat;
}
.pokemonview .status p {
	margin: 0;
	margin-top: 3px;
	margin-left: 3px;
}

.pokemonview.myself .status {
	margin-left: 55px;
	position: absolute;
	top: auto;
	left: auto;
	right: 11px;
	bottom: 3px;
	background: url(../../images/bg2.png);
	background-position: bottom right;
}

.pokemonview img {
	width: 48px;
	height: 48px;
	position: absolute;
	left:8px;
	top: 0px;
	transition: 0.5s transform ar;
}

.pokemonview.opponent img {
	right: 8px;
	top: 0px;
	left: auto;
}

.pokemonview.blink img {
	animation: 0.2s blink infinite alternate;
}

.pokemonview.shake img {
	animation: 1s shake;
	animation-iteration-count: 1;
}

.pokemonview.fainted img {
	transform: translateY(120px);
}

@keyframes blink {
  from {
		opacity: 0;
  }

  to {
		opacity: 1;
  }
}

@keyframes shake {
  16% {
		transform: translateX(-10%);
  }

  33% {
		transform: translateX(0%);
  }

  48% {
		transform: translateX(10%);
  }

  64% {
		transform: translateX(0%);
  }

  80% {
		transform: translateX(-10%);
  }

}
@font-face {font-family:"pixelfont";src:url("Pokemon GB.ttf") format("truetype");font-style:normal;}
